### Pandas Function Applications - `pipe(), apply(), map(), applymap()`

In [1]:
import pandas as pd
import numpy as np

In [2]:
def adder(ele1,ele2):
    return ele1+ele2

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print(df.pipe(adder,2))

       col1      col2      col3
0 -0.798194  0.142871 -2.268685
1 -0.202759  0.277332  1.189999
2  1.240305 -0.270209 -0.187633
3 -1.278464  1.378662 -0.420646
4 -1.814005 -0.453392 -0.726576
       col1      col2      col3
0  1.201806  2.142871 -0.268685
1  1.797241  2.277332  3.189999
2  3.240305  1.729791  1.812367
3  0.721536  3.378662  1.579354
4  0.185995  1.546608  1.273424

In [3]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])

In [4]:
print(df)

       col1      col2      col3
0  0.723945 -0.451835  0.725826
1 -0.756621 -2.555717 -0.209435
2  0.939411  0.667544 -0.361046
3 -1.523510  0.748769 -0.714229
4  0.321660  0.156984  1.957656

In [5]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df['col1']
# My custom function
df1 = df['col1'].map(lambda x:x*100)
print(df1)

0     -4.757299
1   -106.002081
2    -51.992861
3    -68.267916
4    -29.542303
Name: col1, dtype: float64

In [6]:
df['col4'] = df['col1'].map(lambda x: x*100)

In [7]:
df

       col1      col2      col3        col4
0 -0.047573  0.016124  0.718979   -4.757299
1 -1.060021 -0.483578  1.038260 -106.002081
2 -0.519929 -1.215882 -1.837255  -51.992861
3 -0.682679  0.934970 -0.311521  -68.267916
4 -0.295423 -0.041456  0.963711  -29.542303

In [8]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df1 = df.apply(lambda x: x.max() - x.min(), axis=1)
print(df1)

0    1.801697
1    2.298511
2    0.967339
3    2.256911
4    2.198612
dtype: float64

In [9]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df1 = df.applymap(lambda x:x*100)
print(df1)

         col1        col2       col3
0  -25.830552  160.046947 -41.971771
1  187.455628 -101.829739 -17.996430
2   -3.031388   30.794587 -43.904904
3   -3.248258  -30.729785  61.358717
4   16.291820  -87.152421 -87.919543

C:\Users\harne\AppData\Local\Temp\ipykernel_12984\2744694982.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df1 = df.applymap(lambda x:x*100)

In [10]:
df1=df.apply(lambda x: x*100)

In [11]:
print(df1)

         col1        col2       col3
0  -25.830552  160.046947 -41.971771
1  187.455628 -101.829739 -17.996430
2   -3.031388   30.794587 -43.904904
3   -3.248258  -30.729785  61.358717
4   16.291820  -87.152421 -87.919543

In [12]:
df = pd.DataFrame(np.random.randint(1,10,(2,3)), columns=['col1','col2','col3'],index=['R1','R2'])
df

    col1  col2  col3
R1     5     7     5
R2     7     5     5

In [13]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df1 = df.pipe(np.sqrt)
print(df1)

       col1      col2      col3
0  0.158407  1.278264  1.110399
1  1.013713  0.762413       NaN
2       NaN  0.532555  0.953135
3  0.358439       NaN  0.706262
4       NaN  0.473031       NaN

C:\Users\harne\anaconda3\Lib\site-packages\pandas\core\internals\blocks.py:366: RuntimeWarning: invalid value encountered in sqrt
  result = func(self.values, **kwargs)

In [14]:
df.apply(np.sqrt)

       col1      col2      col3
0  0.158407  1.278264  1.110399
1  1.013713  0.762413       NaN
2       NaN  0.532555  0.953135
3  0.358439       NaN  0.706262
4       NaN  0.473031       NaN

In [15]:
df.applymap(np.sqrt)

C:\Users\harne\AppData\Local\Temp\ipykernel_12984\2067765065.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(np.sqrt)
C:\Users\harne\anaconda3\Lib\site-packages\pandas\core\algorithms.py:1814: RuntimeWarning: invalid value encountered in sqrt
  return lib.map_infer(values, mapper, convert=convert)

       col1      col2      col3
0  0.158407  1.278264  1.110399
1  1.013713  0.762413       NaN
2       NaN  0.532555  0.953135
3  0.358439       NaN  0.706262
4       NaN  0.473031       NaN

In [16]:
print(df)
df.apply(lambda x: x.sum(),axis = 0)

       col1      col2      col3
0  0.025093  1.633958  1.232986
1  1.027614  0.581274 -0.432203
2 -0.372349  0.283615  0.908467
3  0.128478 -0.425356  0.498806
4 -0.851429  0.223758 -0.355529

col1   -0.042592
col2    2.297249
col3    1.852526
dtype: float64

In [17]:
print(df)
df.applymap(lambda x: x+10)

       col1      col2      col3
0  0.025093  1.633958  1.232986
1  1.027614  0.581274 -0.432203
2 -0.372349  0.283615  0.908467
3  0.128478 -0.425356  0.498806
4 -0.851429  0.223758 -0.355529

C:\Users\harne\AppData\Local\Temp\ipykernel_12984\3777724581.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(lambda x: x+10)

        col1       col2       col3
0  10.025093  11.633958  11.232986
1  11.027614  10.581274   9.567797
2   9.627651  10.283615  10.908467
3  10.128478   9.574644  10.498806
4   9.148571  10.223758   9.644471

In [18]:
df.applymap(np.abs).applymap(np.sqrt).applymap(lambda x: x+ 10)

C:\Users\harne\AppData\Local\Temp\ipykernel_12984\122759496.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(np.abs).applymap(np.sqrt).applymap(lambda x: x+ 10)

        col1       col2       col3
0  10.158407  11.278264  11.110399
1  11.013713  10.762413  10.657422
2  10.610204  10.532555  10.953135
3  10.358439  10.652193  10.706262
4  10.922729  10.473031  10.596263